/* mainWelcome.css */

.main-background {
    -fx-background-color: linear-gradient(to bottom right, #2c3e50, #3498db);
}

.label {
    -fx-text-fill: white;
}

.label.header {
    -fx-font-size: 32;
    -fx-font-family: "Arial Bold";
}

.label.subtext {
    -fx-font-size: 16;
    -fx-font-family: "Arial";
}

.button.customer-button {
    -fx-background-color: #27ae60;
    -fx-text-fill: white;
    -fx-font-size: 14;
    -fx-font-weight: bold;
}

.button.staff-button {
    -fx-background-color: #e67e22;
    -fx-text-fill: white;
    -fx-font-size: 14;
    -fx-font-weight: bold;
}
